* {
  background-color: rgb(179, 187, 185);
}

header {
  text-transform: uppercase;
}

.App {
  text-align: center;
}

button {
  background-color: rgb(234, 217, 196);
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

h1 {
  font-family: monospace;
  font-size: 1.5rem;
}

#home-image {
  padding-top: 2rem;
}

Link {
  color: blueviolet;
}

p {
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.topic {
  font-size: 16px;
  color: rgb(187, 11, 46);
  font-weight: 800;
  font-family: monospace;
}

.button-2 {
  background-color: rgb(234, 217, 196);
  color: rgb(187, 11, 46);
  block-size: 1.4rem;
  font-size: 10px;
}

.button-3 {
  background-color: rgb(239, 245, 124);
  block-size: 1.4rem;
  font-size: 10px;
  border-radius: 2rem;
}

.button-4 {
  background-color: rgb(211, 161, 99);
  block-size: 1.4rem;
  font-size: 12px;
  border-radius: 1rem;
  margin: 0.5em;
}
.button-5 {
  margin-left: 15px;
  background-color: rgb(255, 149, 20);
  border-radius: 2rem;
  padding: 1px;
}
h3 {
  font-family: monospace;
  color: rgb(47, 53, 51);
}

li {
  list-style: none;
}

#votes {
  color: rgb(187, 11, 46);
  font-weight: 800;
  font-family: monospace;
  font-size: 16px;
}

#red-message {
  background-color: white;
  color: rgb(255, 0, 0);
  font-family: monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.5rem;
}

#message {
  background-color: white;
  color: rgb(65, 65, 242);
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  font-family: monospace;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.5rem;
}

.comments {
  color: rgb(187, 11, 46);
  font-weight: 800;
  font-family: monospace;
  font-size: 16px;
}

#comments-body {
  font-family: georgia;
  font-size: 15px;
  font-weight: 500;
}

#view-comment {
  margin-bottom: 1rem;
}

#comments-list {
  text-align: center;
  padding-right: 2rem;
}

#comment-date {
  margin-left: 1rem;
  color: rgb(95, 95, 95);
  font-size: small;
}

#published {
  font-style: italic;
  color: rgb(77, 77, 77);
}

input {
  border: none;
  appearance: none;
  background-color: rgba(252, 101, 101, 0.681);
  border-style: solid;
  border-radius: 1rem;
  width: 250px;
  border-color: rgb(210, 0, 0);
  outline-color: rgb(242, 255, 0);
  max-width: 900px;
}

input::placeholder {
  color: rgb(81, 10, 10);
}

#article-body {
  font-family: verdana;
  font-size: 12px;
  color: rgb(53, 53, 53);
}

#sort_by {
  margin-right: 5px;
  background-color: rgb(138, 130, 130);
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 1px;
  position: relative;
  box-shadow: 3px 3px 3px rgb(39, 38, 38);
}

#arrow {
  font-size: 12px;
  font-family: cursive;
  background-color: transparent;
}

#sorting {
  margin-right: 1.5rem;
}

#deleting {
  font-family: monospace;
  color: red;
  font-size: 15px;
}

.user-img {
  width: 130px;
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 3px 3px 3px rgb(39, 38, 38);
  border: solid;
}

#user {
  background-color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(21, 21, 21);
  border: 1px solid;
  padding: 1.1em;
  position: relative;
  border-bottom-left-radius: 2rem;
  border-start-start-radius: 2rem;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#current-user-img {
  border: 1px solid;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  border-bottom-right-radius: 2rem;
  border-start-end-radius: 2rem;
}

.box {
  display: flex;
  align-items: center;
  padding-top: 5px;
  align-content: center;
  justify-content: center;
}

ul {
  padding: 1%;
  margin: 0%;
}
